/* a{
    border: 2px solid black;
    margin: 50px;
    padding: 50px;
    height: 100px;
    width: 100px; 
} */
a{
    display: inline-block;
    border: 2px solid black ;
    margin: 20px;
    padding: 20px;
    width: 150x;
    height: 100px;
}